Package: [[name]]
Version: [[version]]
Section: misc
Priority: low
Architecture: all
Description: [[description]]
Maintainer: tlaplus.net@lemmster.de
Depends: munin-plugins-java, openjdk-8-jre-headless, munin, munin-node, apache2, apache2-utils, ssl-cert, postfix, mailutils
