Package: [[name]]
Version: [[version]]
Section: misc
Priority: low
Architecture: all
Description: [[description]]
Maintainer: tlaplus.net@lemmster.de
Depends: munin-plugins-java, munin, munin-node, apache2
